h2,
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding: 10px;
  font-size: 30px;
}
.card {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  margin: 20px 40px;
}
#date {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.git {
  display: block;
  text-align: center;
}
.overview {
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#temperature {
  font-size: 50px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.units {
  position: relative;
  font-size: 20px;
  top: -28px;
}
